<div 
  mouse

  mouse_relative_x="relativeX"
  mouse_relative_y="relativeY"
  mouse_down="mouseDown"
  mouse_view_width="viewWidth"
  mouse_view_height="viewHeight"
  style="
    overflow:hidden;
    position:absolute;
    top:0;left:0;
    bottom:0;right:0;
  "
>
  <img 
    setposition

    setposition_x="relativeX"
    setposition_y="relativeY"
    setposition_view_width="viewWidth"
    setposition_view_height="viewHeight"
    setposition_pointer_down="mouseDown"

    style="
      margin-left: 0px;
      margin-top: 0px;
      pointer-events: none;
      user-drag: none; -moz-user-select: none; -webkit-user-drag: none;
      width:100%;
      height:180%;
    "
    ondragstart="false;"
    src="images/handle_01.png" 
  />
</div>
