
<div 
  ng-mousedown="say('p-down');down=1;" 
  ng-mouseup="say('p-up');down=0;" 
  ng-mousemove="x=$event.pageX;y=$event.pageY;test($event,down);"
  style="
    background:lightblue;
    position:absolute;
    top:0;left:0;
    bottom:0;right:0;
    "
  >
  <div>
    x:{{x}}
  </div>
  <div>
    y:{{y}}
  </div>
  <div>
    down:{{down}}
  </div>
  <div>
    event:{{event}}
  </div>
    <div id="test">
    hi
    </div>
    <img id="image"
      style="
        position:absolute;
        top:0;left:0;
        pointer-events: none;
      "
      src="http://lorempixel.com/200/200/sports" 
      alt=""
    />
        transform: translate3d(0,0,0);
</div>

<!--

<div ng-mousedown="say('down')" style="width:100%;height:100%;background:lightblue;position:absolute;top:0;left:0">


<div class="box">
  <div mouse x="x" y="y">
    <img 
      slide="x"
      src="http://lorempixel.com/200/200/sports" 
      alt=""
    />
  </div>

  <div>
    x:{{x}}
  </div>
  <div>
    y:{{y}}
  </div>
  <div>
    d:{{down}}
  </div>
-->
<!--
  <img 
      slide="x"
      ng-mousemove="x = $event.clientX; y = $event.clientY"
      ng-mousedown="down=1;say('down');"
      ng-mouseup="down=0;say('up');"
      ng-mouseleave="down=0;say('leave');"
      ng-mouseenter="say('enter');"
      ng-mouseover="say('over');"
    slide
    src="http://lorempixel.com/200/200/sports" 
    alt=""
  />
    ng-click="say('click')" 
    ng-swipe-left="say('left')"
    ng-swipe-right="say('right')"

-->

<!--
</div>
-->

