
<div class="box">
  <div mouse x="x" y="y">
    <img 
      slide="x"
      src="http://lorempixel.com/200/200/sports" 
      alt=""
    />
  </div>

  <div>
    x:{{x}}
  </div>
  <div>
    y:{{y}}
  </div>
  <div>
    d:{{down}}
  </div>

<!--
  <img 
      slide="x"
      ng-mousemove="x = $event.clientX; y = $event.clientY"
      ng-mousedown="down=1;say('down');"
      ng-mouseup="down=0;say('up');"
      ng-mouseleave="down=0;say('leave');"
      ng-mouseenter="say('enter');"
      ng-mouseover="say('over');"
    slide
    src="http://lorempixel.com/200/200/sports" 
    alt=""
  />
    ng-click="say('click')" 
    ng-swipe-left="say('left')"
    ng-swipe-right="say('right')"

-->
</div>

